<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <!-- As a heading -->

    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-white">Navbar</span>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img src="Logo-web-blanco-1.png" alt="Logo" width="10%" height="10%"
                class="d-inline-block align-text-top" />
        </div>
    </nav>
    <img src="Frente.png" class="img-fluid w-100" />
    <!--class="img-fluid w-100" style="height: 80px; object-fit: cover; object-position: top;"-->
    <div class="container-fluid">

        <div class="row align-items-center mt-5">
            <div class="col-md-6"></div>
            <div class="col-md-6 d-flex align-items-center">
                <img width="300" height="95" src="Logo-universidad-kennedy-300x95.png" class="img-fluid w-25" />
                <h3><span class="text-center" style="color: #6d1931;">INFORMACÍON</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="accordion w-100 mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Aranceles
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseOne"
                                                aria-expanded="false" aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->

                            </div>
                        </div>
                    </div>


                    <!-- ACORDEÓN PLANTILLAS -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Plantillas
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Subacordeón Principal -->
                                <div class="accordion" id="subAccordionPlantillas">
                                    <!-- Opción: Mail de Bienvenida -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseMailBienvenida"
                                                aria-expanded="false" aria-controls="collapseMailBienvenida">
                                                Mail de Bienvenida
                                            </button>
                                        </h2>
                                        <div id="collapseMailBienvenida" class="accordion-collapse collapse"
                                            data-bs-parent="#subAccordionPlantillas">
                                            <div class="accordion-body">
                                                Contenido del mail de bienvenida.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Opción: Plantilla de WhatsApp -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapsePlantillaWhatsApp"
                                                aria-expanded="false" aria-controls="collapsePlantillaWhatsApp">
                                                Plantilla de WhatsApp
                                            </button>
                                        </h2>
                                        <div id="collapsePlantillaWhatsApp" class="accordion-collapse collapse"
                                            data-bs-parent="#subAccordionPlantillas">
                                            <div class="accordion-body">
                                                Contenido de la plantilla de WhatsApp.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Opción: Email -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseEmail"
                                                aria-expanded="false" aria-controls="collapseEmail">
                                                Email
                                            </button>
                                        </h2>
                                        <div id="collapseEmail" class="accordion-collapse collapse"
                                            data-bs-parent="#subAccordionPlantillas">
                                            <div class="accordion-body">
                                                <!-- Sub-subacordeón dentro de "Email" -->
                                                <div class="accordion" id="subAccordionEmail">
                                                    <!-- Opción: UK en Vivo -->
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseUkEnVivo" aria-expanded="false"
                                                                aria-controls="collapseUkEnVivo">
                                                                UK en Vivo
                                                            </button>
                                                        </h2>
                                                        <div id="collapseUkEnVivo" class="accordion-collapse collapse"
                                                            data-bs-parent="#subAccordionEmail">
                                                            <div class="accordion-body">
                                                                Contenido de UK en Vivo.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Opción: Virtual -->
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseVirtual" aria-expanded="false"
                                                                aria-controls="collapseVirtual">
                                                                Virtual
                                                            </button>
                                                        </h2>
                                                        <div id="collapseSubVirtual" class="accordion-collapse collapse"
                                                            data-bs-parent="#collapseVirtual">
                                                            <div class="accordion-body">
                                                                <!-- Sub-Sub-subacordeón dentro de "Virtual" -->
                                                                <div class="accordion" id="subAccordionVirtual">
                                                                    <!-- Opción: UK en Vivo -->
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header">
                                                                            <button class="accordion-button collapsed"
                                                                                type="button" data-bs-toggle="collapse"
                                                                                data-bs-target="#collapsePsicologia"
                                                                                aria-expanded="false"
                                                                                aria-controls="collapsePsicologia">
                                                                                Psicología
                                                                            </button>
                                                                        </h2>
                                                                        <div id="collapsePsicologia"
                                                                            class="accordion-collapse collapse"
                                                                            data-bs-parent="#collapseVirtual">
                                                                            <div class="accordion-body">
                                                                                Psicología.
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Opción: Virtual -->
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header">
                                                                            <button class="accordion-button collapsed"
                                                                                type="button" data-bs-toggle="collapse"
                                                                                data-bs-target="#collapseVirtual"
                                                                                aria-expanded="false"
                                                                                aria-controls="collapseVirtual">
                                                                                Abogacía
                                                                            </button>
                                                                        </h2>
                                                                        <div id="collapseVirtual"
                                                                            class="accordion-collapse collapse"
                                                                            data-bs-parent="#collapseVirtual">
                                                                            <div class="accordion-body">
                                                                                Abogacía.
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Opción: Presencial -->
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header">
                                                                            <button class="accordion-button collapsed"
                                                                                type="button" data-bs-toggle="collapse"
                                                                                data-bs-target="#collapsePresencial"
                                                                                aria-expanded="false"
                                                                                aria-controls="collapsePresencial">
                                                                                Farmacía
                                                                            </button>
                                                                        </h2>
                                                                        <div id="collapsePresencial"
                                                                            class="accordion-collapse collapse"
                                                                            data-bs-parent="#subAccordionEmail">
                                                                            <div class="accordion-body">
                                                                                Farmacía
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Fin del sub-subacordeón -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Opción: Presencial -->
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapsePresencial"
                                                                aria-expanded="false"
                                                                aria-controls="collapsePresencial">
                                                                Presencial
                                                            </button>
                                                        </h2>
                                                        <div id="collapsePresencial" class="accordion-collapse collapse"
                                                            data-bs-parent="#subAccordionEmail">
                                                            <div class="accordion-body">
                                                                Contenido Presencial.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fin del sub-subacordeón -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin del subacordeón Principal -->
                            </div>
                        </div>
                    </div>

                    <!-- ACORDEON NUMERO  3-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                TERCERO
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>

                    <!-- ACORDEON NUMERO  4-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                CUARTO
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>



                    <!-- ACORDEON NUMERO  5-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Quinto
                            </button>
                        </h2>
                        <div id="collapseFiver" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>



                    <!-- ACORDEON NUMERO  6-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Sexto
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>



                    <!-- ACORDEON NUMERO  7-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Septimo
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>



                    <!-- ACORDEON NUMERO  8-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Octavo
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>



                    <!-- ACORDEON NUMERO  9-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Noveno
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>







                    <!-- ACORDEON NUMERO  10-->

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                Decimo
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!-- Subacordeón -->
                                <div class="accordion" id="subAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#subCollapseOne" aria-expanded="false"
                                                aria-controls="subCollapseOne">
                                                Precencial 2025
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO A
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO B
                                            </button>
                                        </h2>

                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#subCollapseTwo"
                                                aria-expanded="false" aria-controls="subCollapseTwo">
                                                GRUPO C
                                            </button>
                                        </h2>

                                    </div>
                                </div>
                                <!-- Fin del subacordeón -->



                            </div>
                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-1"> </div> -->

    <img src="banner-principal-grupo-nods-1.png" class="img-fluid w-100" />

    <div class="col-12 text-center">
        <p>© Copyright 2024 | Todos los derechos reservados</p>
    </div>


</body>

</html>